body {
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	font-weight: normal;
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase; 
}

h1 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

h2 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

body * {
	outline: 1px solid red;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*INDEX*/
/*HEADER*/
nav {
    position: relative;
}

.header-logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 138px;
    margin: 0 auto;
    z-index: 1;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-item {
    display: inline-block;
    margin-right: 148px;
    padding: 20px 0;
} 

.navigation-item:last-child {
    margin-right: 0
}

.navigation-link {
    text-decoration: none;
    color: #000000;
} 

.navigation-left {
    float: left;
    width: 345px;
}

.navigation-right {
    float: right;
    width: 345px;
    outline: 3px dotted darkgreen; 
}

.header-promo {
    position: relative;
    min-height: 508px;
    background: #e5f2fa url(../img/bg_promo_img.jpg) no-repeat 0 -56px; /*в url лучше прописывать с кавычками или без?*/

}

.header-promo-text {
    position: absolute;
    top: 74px;
    left: 368px;
}

.header-promo:after {
    display: block;
    position: absolute;
    content: url(../img/bg_promo_decor.png);
    bottom: -6px;   
    /*outline: 5px dotted darkblue;*/
}

/*HEADER*/



/*MAIN*/
/*INDEX*/
.promo {
    padding: 50px 346px;
    outline: 5px dotted purple;
}

.feature-block {
    min-height: 200px;
    outline: 2px dotted blue;
}

.feature-description {
    float: left;
    width: 400px;
    outline: 4px dotted yellow;

}

.feature-pic {
    float: left;
    width: 800px;
    outline: 4px dotted green;

}
.reasons {
    min-height: 330px;
/*    задала, чтобы визуально отделить блок*/
}

.reason {
    float: left;
    width: 400px;

}

.feature {
    float: left;
    width: 400px;
}

.offer {
    min-height: 330px;
}

.offer-text {
    padding: 50px 400px;
}

.offer-form {
    margin: 0 400px;
    padding: 20px;
}
/*INDEX*/

/*HOTELS*/

.wrapper {
    width: 1056px;
    margin: 0 auto; 
    outline: 3px dotted darkblue;
} 

/*filter*/
.filter {
    min-height: 218px;
    background: #406c90 url(../img/bg_filter_mate.png) no-repeat 0 -24px; /*why png???*/
    outline: 3px dotted orange;
}

.filter-infrastructure {
    float: left;
    width: 175px;
    margin-right: 80px;
}

.filter-accommodation-type {
    float: left;
    width: 175px;
}

.price-ranger {
    float: right;
    width: 328px;
}

.filter-value {
    padding: 29px 0;
    border-bottom: 10px solid #e5e5e5; /*10px для наглядности*/
}

.search-result {
    float: left;
    width: 120px;
    margin-right: 40px;
}

.sort-type {
    float: left;
    width: 368px;
}

.ask-desk-icons {
    float: right;
    width: 40px;
}
/*filter*/

.item {
    padding: 30px 0;
    border-bottom: 10px solid #e5e5e5;
}

.item-picture {
    float: left;
    width: 135px;
    margin-right: 30px;
}

.item-description {
    float: left;
    width: 260px;
    outline: 3px dotted darkred;
}

.item-rating {
    float: right;
    width: 110px;
    outline: 3px dotted darkred;
}

.item-star {
    margin-top: 27px;
}

.item-total-rating {
    margin-top: 45px;
} 
/*HOTELS*/
/*MAIN*/


/*FOOTER*/

.offer-map {
    min-height: 330px;
    background: #94ba52;
}

.footer-container {
    padding: 35px 0;
}

.hashtag {
    float: left;
    width: 145px;
    margin-right: 250px;
    margin-left: 54px;
    outline: 3px dotted brown;
}

.footer-social {
    float: left;
    width: 150px;
    outline: 3px dotted brown;
}

.author {
    float: right;
    width: 195px;
    margin-left: 225px;
    margin-right: 29px;
    outline: 3px dotted brown;
}


/*FOOTER*/
/*INDEX*/